.box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.success {
  color: limegreen;
}

.form {
  padding: 20px;
}

.field {
  margin-top: 10px !important;
}

.card {
  padding: 20px;
}